
<div class="carousel-item">
  <div class="card w-100 bg-danger" style="height: 270px;" >
    <h5 class="card-header bg-danger" style="font-weight: bold;text-align: center";>Commodity Prices</h5>

  <table class="table table-bordered  bg-danger">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Cement</th>
        <td>300</td>


      </tr>
      <tr>
        <th scope="row">Roofing Sheets</th>
        <td>300</td>


      </tr>
      <tr>
        <th scope="row">Euro</th>
        <td>300</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
