<div class="carousel-item active"   >
  <div class="card w-100  bg-danger" style="height: 270px;">
    <h5 class="card-header bg-danger" style="font-weight: bold;text-align: center">Exchange Rate</h5>


  <table class="table table-bordered bg-danger" >
    <thead>
      <tr>
        <th>#</th>
        <th>Official (Buy)</th>
        <th>Parallel Market (Buy)</th>
        <th>Official (Sell)</th>
        <th>Parallel Market (Sell)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Dollar</th>
        <td>300</td>
        <td>300</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <th scope="row">Pounds</th>
        <td>300</td>
        <td>300</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <th scope="row">Euro</th>
        <td>300</td>
        <td>300</td>
        <td>300</td>
        <td>300</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
