

{% block videos_content %}

<div class="card w-100" style="background-color: Aquamarine; height: 720px; overflow-y:scroll;overflow-x:scroll">
  <div class="card-header bg-warning" style="text-align: center;">Clips of the day</div>
      {% for video in vid %}
       <h6>{{ video.title }}</h6>
      <iframe  width="240" height="280" src="{{ video.embed_code }}" frameborder="0"></iframe>
      {% endfor %}


 <div class="pagination" >
   <strong> <font size="3">
   <span class="step-links">
       {% if videos.has_previous %}
           <a href="?page={{ videos.previous_page_number }}">Previous</a>
       {% endif %}
       <span class="current">
           Page {{ videos.number }} of {{ videos.paginator.num_pages }}
       </span>
       {% if videos.has_next %}
           <a href="?page={{ videos.next_page_number }}"> Next</a>
       {% endif %}
   </span>
   </font></strong>
</div>
</div>
{% endblock %}
