

{% block videos_content %}

<div class="card bg-warning h-25" style="overflow-y:scroll;overflow-x:scroll">
  <h4 class="card-header bg-danger" style="font-weight: bold;text-align: center;">Clips of the day</h4>
      {% for video in vid %}
       <h6>{{ video.title }}</h6>
      <iframe  width="340" height="280" src="{{ video.embed_code }}" frameborder="0"></iframe>
      {% endfor %}


 <div class="pagination" >
   <strong> <font size="3">
   <span class="step-links">
       {% if videos.has_previous %}
           <a href="?page={{ videos.previous_page_number }}">Previous</a>
       {% endif %}
       <span class="current">
           Page {{ videos.number }} of {{ videos.paginator.num_pages }}
       </span>
       {% if videos.has_next %}
           <a href="?page={{ videos.next_page_number }}"> Next</a>
       {% endif %}
   </span>
   </font></strong>
</div>
</div>
{% endblock %}
