{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naija Connection</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body class="bg-success" >

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">News</a>
          <a class="nav-item nav-link" href="#">About</a>
        </div>
      </div>
      <a class="navbar-brand pull-sm-right m-r-0 hidden-xs-down" href="#">Naija Connection</a>
    </div>
    </nav>

    <hr class="hidden"/>
    <div class="container">
      <div class="row">   <!-- main rows -->

        <div class="col col-md-3">
            <img class="img-fluid" src="{% static "news/naijamap.png" %}" alt="Nigeria"/>
              {% block news_content %}
              {% endblock %}
        </div>

        <div class="col col-md-6">
          <div class="card bg-danger text-white" >
            <div class="container">
              <h5>Exchange Rates</h5>
              <table class="table table-sm" style="height: 100px;">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Official (Buy)</th>
                    <th>Parallel Market (Buy)</th>
                    <th>Official (Sell)</th>
                    <th>Parallel Market (Sell)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Dollar</th>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                  </tr>
                  <tr>
                    <th scope="row">Pounds</th>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                  </tr>
                  <tr>
                    <th scope="row">Euro</th>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                  </tr>
                </tbody>
              </table>
              <p class="lead">Temperature Lag: 40 Abj: 40 PH: 40 Kano: 40 </p>
            </div>
          </div>
          <hr />
          <div class="card btn btn-primary">
            <h2 class="card-title bg-success">Gists</h2>
          </div>
        </div>
        <div class="col col-md-3">

            {% include "clips/videos_list.html" %}

        </div>
      </div>

    </div> <!-- main container -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
