
<div class="carousel-item" >
  <div class="card w-100" style="height: 260px;">
    <h5 class="card-header bg-danger" style="text-align: center">Common Produce Price</h5>

  <table class="table table-bordered  bg-danger" >
    <thead>
      <tr>
        <th>Produce</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Cocoa</th>
        <td>300</td>

      </tr>
      <tr>
        <th scope="row">Cashew</th>
        <td>300</td>

      </tr>
      <tr>
        <th scope="row">Palm oil</th>
        <td>300</td>
      </tr>
      <tr>
        <th scope="row">Bag Rice</th>
        <td>300</td>
      </tr>
      <tr>
        <th scope="row">Bag Beans</th>
        <td>300</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
